/* ==========================================================================
   Gunjan's custom styles
   
   var data = {
   
		'Developed By': 'Gunjan B Kothari',
		'Date': '03-12-2013',
		'Assignment_By': 'Meditab.com'
   
   };
   ========================================================================== */
 html
 {
	background-image: url('img/bg-1x.11437c43.png');
	background-repeat: repeat;
	background-color: #e3e3e3;
 }
.container
{
	background: #EEEEEE;
	padding:0px;
	width:100%;
	max-width:100%
}
.container2
{
	position: relative;
	float: left;
}


.technology
{
	width:140px;
}
.sports
{
	width:290px;
}
.politics
{
	width:440px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	color: #727272;
	font-size: 12px;
	
}
h3
{
	
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
}
h1
{
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	color: #5a5a5a;

}












